@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,600&display=swap');

body{
    background-image: url("https://i.imgur.com/hmRwyH3.jpg");
    font-family: 'Raleway', sans-serif;
}
.head-image{
    height: auto;
    width: 45%;
    display: block;
    float: right;
    box-shadow: 2px 2px 2px #9494b8;
}
h1{
    text-shadow: 2px 2px 2px #9494b8;
    color: #33334d;
}
button{
    margin: 2px;
    background-color: #33334d !important;
    box-shadow: 2px 2px 2px #5c5c8a;
}
.header-MMC{
    background: rgba(238, 238, 238, 0.9);
    padding: 2%;
}
.social-buttons{
    margin-bottom: 1%;
}
.center-info{
    background-color: #eee;
    opacity: 0.9;
    padding: 2%;
}
#skills{
    padding: 2px;
    background-color: #33334d;
    color: white;
}

/* Animation */
@keyframes show-list{
    0% { opacity: 0;}
    25% {opacity: 0.25;}
    50% {opacity: 0.5;}
    75% {opacity: 0.75;}
    100% { opacity: 1.0;}
}
@keyframes hide-list{
    0% {opacity: 1.0;}
    25% {opacity: 0.75;}
    50% {opacity: 0.5;}
    75% {opacity: 0.25;}
    100% {opacity: 0; display: none;}
}
.main-list{
    display: none;
    animation-name: show-list;
    animation-duration: 0.5s;
}
.fade{
    animation-name: hide-list;
    animation-duration: 0.5s;
}