@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,600&display=swap');

body{
    background-image: url("https://i.imgur.com/hmRwyH3.jpg");
    font-family: 'Raleway', sans-serif;
}

/*Header*/
.head-image{ 
    height: auto;
    width: 45%;
    display: block;
    float: right;
    box-shadow: 2px 2px 2px #9494b8;
    border-radius: 5px;
}
h1{
    text-shadow: 2px 2px 2px #9494b8; 
    color: #33334d;
}
button{
    margin: 2px;
    background-color: #33334d !important;
    box-shadow: 2px 2px 2px #5c5c8a;
}
button:hover{
    opacity: 0.7;
}
.header-MMC{
    background: rgba(238, 238, 238, 0.9);
    padding: 2%;
    border-radius: 5px;
}
.social-buttons{
    margin-bottom: 1%;
}
.ahref a:hover{
    text-decoration-line: none;
    text-decoration: none;
}

/*Menus*/
.center-info{
    border-radius: 5px;
    padding-top: 2%;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
#skills, #school{
    padding: 2px;
    background-color: #33334d;
    color: rgb(238, 238, 238);
    border-radius: 5px;
    box-shadow: 2px 2px 2px #9494b8;
}
.displayBlock{
    display: block;
}

/* Animation */
@keyframes show-list{
    0% { opacity: 0;}
    25% {opacity: 0.25;}
    50% {opacity: 0.5;}
    75% {opacity: 0.75;}
    100% { opacity: 1.0;}
}
@keyframes hide-list{
    0% {opacity: 1.0;}
    25% {opacity: 0.75;}
    50% {opacity: 0.5;}
    75% {opacity: 0.25;}
    100% {opacity: 0;}
}
.main-list{
    background: rgba(238, 238, 238, 0.9);
    margin-top: -10px;
    padding-bottom: 2%;
    animation-name: show-list;
    animation-duration: 0.5s;
}
.pre-fade{
    opacity: 0;
}
.fade{
    background: rgba(238, 238, 238, 0.9);
    margin-top: -10px;
    padding-bottom: 2%;
    animation-name: hide-list;
    animation-duration: 0.5s;
}

/* Thumbnails */
.thumbnails {
    position: relative;
    display: block;
}
.thumbnails ul{
    list-style-type: none;
    float: left;

}
.thumbnails li{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}
.thumbnails img{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #9494b8;
    position: absolute;
    margin-bottom: 20px;
}
.thumbnails img:hover{
    opacity: 0;
}
.overlay {
    position: relative;
    width: 300px;
    height: 300px;
    opacity: 0;
    transition: .5s ease;
    background-color: #9494b8;
  }  
  .thumbnails .overlay:hover{
    opacity: 0.8;
  }  
  .text {
    color: white;
    background-color: #9494b8;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }